@import 'fonts.css';

.info{
    margin: 0;
    height: 900px;
    width: 100%;
    background-image: url('../resources/images/info_back.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: #fff;
    font-family: 'Roboto_500';
}

.info .text{
    padding-top: 200px;
    padding-left: 300px;
    font-size: 40px;
}

.info .text p{
    margin-top: 0;
    margin-left: 100px;
}

.info ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin-left: 350px;
    
}

.info ul li{
    margin-left: 10px;
}

.info ul li a{
    padding: 10px;
    font-size: 23px;
    border: 1px solid rgb(34, 34, 34);
    border-radius: 25px;
    text-decoration: none;
    background: rgb(34, 34, 34);
    color: #fff;
}

.info ul li a:hover{
    background: #fff;
    border:1px solid #fff;
    color: rgb(34, 34, 34);
    transition: .6s;
}

.about{
    display: flex;
    flex-direction: row;
    
    margin-top: 50px;
    margin-left: 300px;
    word-wrap: break-word;
}
.about img {
    margin-right: 50px;
    height: 300px;
}

.about_text {
    margin-right: 50px;
}

.about_text #title{
    font-family: 'Roboto_500';
    font-size: 30px;
    margin-top: 0;
}

.index-photos img{
    width: 20%;
}
.index-photos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 90%;
    margin-left: 10%;
}