@import 'fonts.css';

*::selection{
    background-color: #8b8b8b;
}

.wrap{
    margin: 0;
    font-family: 'Roboto_Regular';
    font-size: 25px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
    align-items: center;
    font-family: 'Roboto_500';
    color: white;
    background-color: rgb(34, 34, 34);
}

.logo a{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color:#fff;
}

.logo img{
    padding-right: 20px;
    height: 60px;
    width: 60px;
}

.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 20%;
}
.menu a{
    text-decoration: none;
    color: #fff;

}
.menu a:hover{
    color: #bebebe;
}

.search input{
    font-family: 'Roboto_Regular';
    padding: 5px;
    padding-left: 5px;
    border: 1px solid #fff;
    border-radius: 15px;
    height: 20px;
    width: 200px;
}

.search button{
    box-shadow: none;
    border: none;
    background: rgb(34, 34, 34);
}
.search button:hover{
    padding: 5px;
    border: 1px solid rgb(58, 58, 58);
    border-radius: 100%;
    background: rgb(58, 58, 58);
    transition: .5s;
}
footer{
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 20px 20px;
    margin-top: 50px;
    color:#fff;
    font-size: 15px;
    background: rgb(34, 34, 34);
    flex-shrink: 0;
}

footer .social-networks{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#up_a{
    border: 1px solid rgb(34, 34, 34);
    background: rgb(34, 34, 34);
    border-radius: 100%;
    padding: 5px;
    position: fixed;
    right: 30px;
    bottom: 70px;
}

#up_a:hover{
    border:1px solid rgb(58, 58, 58);
    background:rgb(58, 58, 58);
    transition: .5s;
}
